{{ $paginator := .Paginate (where .Data.Pages "Type" "Release") }}
<div class="index">
  {{ partial "default_head.html" . }}
  <div class="row">
    <div class="col-sm-12">

      <div class="articles">
        <div class="row">X
          {{ range $key, $value := .Paginator.Pages }}
          <div class="col-sm-3">
            {{ .Render "li" }}
          </div>
            {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            {{ range .Params.categories }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          {{ end }}X
        </div>
      </div>

      {{ partial "pagination.html" . }}

    </div>
    
  </div>
  {{ partial "default_foot.html" . }}
</div>

