{{ partial "default_head.html" . }}

<div class="list fadein">

  <div class="container site">
  
    <div class="row">
      <div class="col-sm-12">

        <div class="articles">
          <div class="row">

            <h2 class="article-title">Releases:</h2>
            {{ range (where .Data.Pages "Type" "Releases") }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              {{ .Render "li" }}
            </div>
            {{ end }}

            <h2 class="article-title">Events:</h2>
            {{ range (where .Data.Pages "Type" "Events") }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              {{ .Render "li" }}
            </div>
            {{ end }}

          </div>
        </div>

        {{ partial "pagination.html" . }}

      </div>
    </div>
  </div>

{{ partial "default_foot.html" . }}
