/* foot.css
======================================== */

footer.site {
	position: fixed;
	width: 100%;
    bottom: 0;
}

footer .pattern {
	background-image: url("../svg/sm-footer-pattern.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
}

footer section {
	margin: 20px 0;
}

footer.site p {
	font-size: 15px;
	font-style: normal;
  	font-weight: 400;
	color: #000;
	text-align: left;
}

footer.site hr {
  margin: 40px 0 30px;
}


/* 
======================================== */

footer.site .footer-item {
	margin: 20px 0 40px;
}

footer.site .footer-item ul {
	padding: 0;
	margin: 0;
}

footer.site .footer-item li {
	display: block;
	margin: 5px 0;
}

footer.site .footer-item a {
	margin: 0;
}

/* media queries
======================================== */

@media (min-width: 320px) {

	footer.site {
		position: relative;
		width: 100%;
	}

	footer section {
		margin: 40px 0 40px;
	}

	footer.site h4 {
		margin-bottom: 10px;
	}

	footer.site .footer-item {
		margin: 0;
	}

	footer.site .footer-item li {
		margin: 10px 0;
	}
  
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	footer.site {
		position: relative;
		width: 100%;
	    bottom: 0;
	}

	footer section {
		margin: 40px 0 20px;
	}

	footer.site h4 {
		margin-bottom: 20px;
	}

	footer.site .footer-item {
		margin: 0 0 40px;
	}

	footer.site .footer-item li {
		display: block;
		margin: 5px 0;
	}
  

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
