/* foot.css
======================================== */

footer.site {
	position: fixed;
	width: 100%;
    bottom: 0;
}

footer .pattern {
	background-image: url("../svg/sm-footer-pattern.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
}

footer section {
	margin: 50px 0;
}

footer.site p {
	font-size: 15px;
	color: #000;
	text-align: left;
}
