/* head.css
======================================== */

header.site {
  padding: 50px 0 100px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 0;
}

header.site .logo,
header.site .title-wrapper {
  display: inline-block;
  float: left;
}

header.site .logo {
  width: 60px;
}

.title-wrapper {
  margin-top: 15px;
  padding-left: 15px;
  /*border-bottom: 1px solid #7e7e7e;*/
}

header.site .title h1 {
  font-size: 27px;
  font-weight: normal;
  text-align: left;
  color: #000;
}

header.site .sub-title h2 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  color: #7e7e7e;
}

/* 
======================================== */

header.site nav {
  margin-top: 20px;
}

header.site nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  float: none;
  text-align: center;
}

header.site nav li {
  display: inline-block;
  padding: 5px 15px 0;
  text-align: left;
  text-transform: uppercase;
}

/* 
======================================== */

header.site .contact {
  margin-top: 16px;
  text-align: right;
}

header.site .contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  float: none;
  text-align: right;
}

header.site .contact li {
  display: inline-block;
  padding: 0 15px 0;
  text-align: left;
  font-size: 21px;
}

header.site .contact li.last {
  padding: 0 0 0 15px;
}

/* 
======================================== */

.active {
  border-top: 1px solid #333333;
  
}

header.site nav li a.active:hover,
header.site nav li a.active:focus,
header.site nav li a.active:active {
  text-decoration: none;
  color: #000000;
}

/* 
======================================== */

@media (min-width: 320px) {

  header.site .logo,
  header.site .title-wrapper {
    display: block;
    float: none;
  }

  header.site .logo {
    margin: 0 auto;
  }

  .title-wrapper {
    margin-top: 15px;
    padding-left: 0;
    padding-bottom: 20px;
  }

  header.site .title h1,
  header.site .sub-title h2 {
    text-align: center;
  }

  header.site .contact {
    margin-top: 16px;
    text-align: center;
  }

  header.site .contact li.last {
    padding: 0 15px 0;
  }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  header.site .logo,
  header.site .title-wrapper {
    display: inline-block;
    float: left;
  }

  header.site .logo {
    margin: 0;
  }

  .title-wrapper {
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }

  header.site .title h1,
  header.site .sub-title h2 {
    text-align: left;
  }

  header.site .contact {
    margin-top: 16px;
    text-align: right;
  }

  header.site .contact li.last {
    padding: 0 0 0 15px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

