/* single.css
======================================== */

article.single {
	color: #000;
	background-color: transparent;
	padding-bottom: 70px;
}

article.single .article-header {
	padding: 0;
}

article.single .events {
	padding: 85px 0 0;
}

article.single h1.article-title {
	color: #7e7e7e;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 20px;
	line-height: 18px;
}

article.single h2.article-artist {
	font-size: 27px;
	font-style: normal;
  	font-weight: 700;
	margin: 20px 0;
	line-height: 36px;
}

article.single h2.article-guest {
	font-size: 27px;
	font-style: normal;
  	font-weight: 700;
	margin: 20px 0 5px;
	line-height: 36px;
}

article.single h3.article-track {
	font-size: 15px;
	font-style: normal;
  	font-weight: 400;
	margin: 10px 0;
	line-height: 18px;
}

article.single ul.article-guest-labels {
	padding: 0;
	margin: 0;
}

article.single .article-guest-labels li {
	display: inline-block;
	font-size: 15px;
	font-style: normal;
  	font-weight: 400;
	line-height: 18px;
}

article.single h3.article-date,
article.single h3.article-time,
article.single h3.article-venue,
article.single h3.article-venue-address,
article.single h3.article-price {
	font-size: 15px;
	font-style: normal;
  	font-weight: 400;
	line-height: 18px;
}

article.single h3.article-date {
	margin: 0 0 10px;
	/*border-top: 1px solid #f1f1f1;*/
}


article.single h3.article-time,
article.single h3.article-venue,
article.single h3.article-venue-address,
article.single h3.article-price {
	margin: 10px 0;
}


article.single hr {
	margin: 40px 0 30px;
	border-top: 1px solid #f1f1f1;
}


/* 
======================================== */

article.single .article-body {
	padding: 0 0 20px;
}

article.single .article-body p {    
    margin: 0;
}


/* cta
======================================== */

.article-cta {
	margin: 30px 0 0;
}

/* aside
======================================== */

article.single aside {
	padding: 0;
	/*border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;*/
}

article.single aside .section {
	text-align: left;
	font-size: 15px;
	font-style: normal;
  	font-weight: 400;
	margin: 0 0 20px 0;
}

article.single h4 {
	display: inline;
	color: #7e7e7e;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	/*text-transform: uppercase;*/
	margin-bottom: 20px;
}

article.single aside ul {
	display: inline;
	padding: 0;
	margin: 0;
}

article.single aside li {
	display: inline-block;
}

article.single aside a.tag,
article.single aside a.news,
article.single .article-share a,
article.single .article-share .fa {
	margin: 0 5px 0 0;
}

article.single .article-share {
	padding: 0 0 10px;
}

article.single .article-share h4 {
	padding-right: 4px;
}

/* 
======================================== */

@media (min-width: 320px) {

	article.single {
		padding-bottom: 0;
	}

	article.single .article-header {
		padding: 45px 0 0;
	}

	article.single .article-body {
		margin: 0;
	}

}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	article.single {
		padding-bottom: 70px;
	}

	article.single .article-header {
		padding: 0;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}


