                </div><!--index-->

            </div><!--wrapper-->

            <footer class="site">
                <div class="pattern"></div>

                <section>

                    <div class="container">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                
                                <div class="footer-item">

                                    <h4>Contact</h4>

                                    <h3>Label enquires:</h3>

                                    <p>General: <a class="social-link" href="mailto:holla@timedancemusic.com" title="Email" target="_blank">holla@timedancemusic.com</a></p>
                                    
                                    <p>PR: <a class="social-link" href="mailto:rob.booth@fabriclondon.com" title="Email" target="_blank">rob.booth@fabriclondon.com</a></p>
                                    
                                </div>
                                
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                

                                <div class="footer-item">

                                    <h4>Social</h4>

                                    <h3>Timedance news and conversation:</h3>

                                    <ul>
                                        <li><a class="social-link" href="https://www.twitter.com/timedance_uk" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                        <li><a class="social-link" href="https://www.facebook.com/timedancemusic" title="Facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                                        <li><a class="social-link" href="https://www.instagram.com/batu_timedance/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                                        
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-4">
                                
                                <div class="footer-item">

                                    <h4>Buy</h4>

                                    <h3>Shop Timedance releases here:</h3>
                                    
                                    <p><a class="social-link" href="https://timedance.bandcamp.com/music" title="Bandcamp" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i> Bandcamp</a></p>
                                </div>
                            </div>

                
                        </div>

                        <div class="row">

                            <div class="col-xs-12">

                                <hr>

                                <p>Copyright Timedance. {{ now.Year }} | Record label based in Bristol, UK. Run by <a class="social-link" href="https://www.twitter.com/batu_uk" title="Twitter" target="_blank">Batu</a></p>

                            </div>

                        </div>

                    </div>

                </section>

            </footer>

        </div><!--footer-wrapper-->

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/animation.js"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ with .Site.Params.GoogleAnalyticsUserID }}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
    </script>
    {{ end }}

    </body>
</html>

