{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="paging">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}" class="left" rel="prev">
    <div class="prev">
        <p><i class="material-icons">chevron_left</i></p>
    </div>
  </a>
  {{ end }}

  {{ if .Paginator.HasNext }}
  <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}" class="right" rel="next">
    <div class="next">
      <p><i class="material-icons">chevron_right</i></p>
    </div>  
  </a>
  {{ end }}
</nav>
{{ end }}
